@config './tailwind.config.js';

@import 'tailwindcss';

@import '../../../../vendor/filament/filament/resources/css/theme.css';


/* .fi-body {
    background-color: #ebebeb !important;
}

.fi-sidebar {
    background-color: #292828 !important;
} */
