@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/Admin/**/*';
@source '../../../../resources/views/filament/admin/**/*';
@source '../../../../vendor/biostate/filament-menu-builder/resources/views/**/*';