name: Docker

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  deployment:
  workflow_dispatch:

env:
  DB_DATABASE: liberu
  DB_USERNAME: liberu
  DB_PASSWORD: secret

jobs:
  docker:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: liberu/boilerplate

      # Setting up Docker Buildx with docker-container driver is required
      # at the moment to be able to use a subdirectory with Git context
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=liberu/boilerplate:buildcache
          cache-to: type=registry,ref=liberu/boilerplate:buildcache,mode=max
 
